{% extends 'base.html' %}

{% block title %}
    Market Page
{% endblock %}

{% block content %}
    <br>
    <h2>Market Page</h2><br>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% set i = namespace(value=1) %}
            {% for item in items %}
                <tr>
                    <td>{{ i.value }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.barcode }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <button class="btn btn-outline btn-info">More Info</button>
                        <button class="btn btn-outline btn-success">Purchase this Item</button>
                    </td>
                </tr>
                {% set i.value = i.value+1 %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}